<div class="dashboard">
  <!-- drop-down to change city -->
  <drop-down
    [title]="currentCity"
    [list]="cities"
    (setCurrentItemEvent)="currentCity = $event"
  ></drop-down>
  <!-- navigation for Temperature, humidity and precipitation -->
  <ul class="tabs">
    <li [ngClass]="{ tab: true, active: activeTab === 0 }" (click)="active(0)">
      Current Weather
    </li>
    <li [ngClass]="{ tab: true, active: activeTab === 1 }" (click)="active(1)">
      Daily Statistics
    </li>
    <li [ngClass]="{ tab: true, active: activeTab === 2 }" (click)="active(2)">
      Monthly Statistics
    </li>
  </ul>
  <!-- current weather -->
  <current-weather
    *ngIf="activeTab === 0"
    [currentCity]="currentCity"
    [currentCountry]="currentCountry"
    [icons]="icons"
    [initChart]="initChart"
    [createDateFromUTC]="createDateFromUTC"
    (setErrorMessageEvent)="errorMessage = $event"
  ></current-weather>
  <!-- daily statistics -->
  <statistics
    *ngIf="activeTab === 1"
    [currentCity]="currentCity"
    [currentCountry]="currentCountry"
    [initChart]="initChart"
    [createDateFromUTC]="createDateFromUTC"
    [type]="'day'"
    (setErrorMessageEvent)="errorMessage = $event"
  ></statistics>
  <!-- monthly statistics -->
  <statistics
    *ngIf="activeTab === 2"
    [currentCity]="currentCity"
    [currentCountry]="currentCountry"
    [initChart]="initChart"
    [createDateFromUTC]="createDateFromUTC"
    [type]="'month'"
    (setErrorMessageEvent)="errorMessage = $event"
  ></statistics>
  <error-message
    *ngIf="errorMessage"
    [errorMessage]="errorMessage"
    (setErrorMessageEvent)="errorMessage = $event"
  ></error-message>
</div>
